@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.notification {
  width: 378px;
  @include flex-center-column;
  padding: 30px 24px;
  row-gap: 30px;

  > span {
    @include text(16px, 400, 24px);
  }

  .btn {
    width: 96px;
    align-self: end;
  }
  .bigBtn {
    width: 100%;
  }
}