@import "@/common/styles/mixins.scss";
@import "@/common/styles/variables.scss";

.container {
  display: flex;

  flex-wrap: wrap;

  .post {
    background-color: blue;
    width: 230px;
    height: 230px;
  }
}