@import "../../common/styles/mixins.scss";
@import "../../common/styles/variables.scss";
@import "./input.module";


.container {
  position: relative;
  .input {
    padding-right: 50px;
  }
  .eye {
    right: 10px;
    bottom: 10px;
    position: absolute;
    border: 1px solid red;
    cursor: pointer;
  }
}
