@import '@/common/styles/mixins.scss';
@import '@/common/styles/variables.scss';

.container {
	@include flex-column;
	.showmenu {
		cursor: pointer;
		// position: absolute;
	}

	.menu {
		// right: 40%;
		margin-top: 30px;
		width: 137px;
		height: 85px;
		position: absolute;
		border: 1px #4c4c4c solid;
		background-color: black;
		z-index: 999;

		.action {
			display: flex;
			justify-content: start;
			margin: 10px 0 12px 10px;
			cursor: pointer;

			.btn {
				font-size: 15px;
				margin-left: 10px;
				display: flex;
				align-items: center;
			}
		}
	}
}

.notification {
	width: 378px;
	padding: 30px 24px;
	row-gap: 18px;

	.description {
		margin-bottom: 30px;
	}

	.logout {
		display: flex;
		justify-content: end;
		margin-top: 18px;

		.btns {
			width: 96px;
			margin-left: 15px;
		}
	}
}
