@import "common/styles/mixins";
@import "common/styles/variables";

.container {
  @include flex-center-column;
  min-height: 492px;
  min-width: 492px;
  border-radius: 2px;

  .wrapper {
    @include flex-center-column;
    gap: 48px;

    .avatarFromServer {
      width: 100%;
      border-radius: 2px;
    }

    .btn {
      width: 100%;
    }
  }
}