@import "@/common/styles/mixins.scss";
@import "@/common/styles/variables.scss";

.container {
  @include flex-center-column;
  row-gap: 30px;

  .content {
    @include flex-column;
    max-width: 294px;
    text-align: center;
    row-gap: 30px;

    > h1 {
      @include text(20px, 700, 36px);
    }

    > span {
      @include text(16px 400, 24px)
    }
  }
}