@import "src/common/styles/mixins";
@import "src/common/styles/variables";
.btn {
  border: none;
  border-radius: 2px;
  background: $accent500;
  height: 36px;
  width: 100%;
  @include text(16px, 600, 24px);
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background: $accent100;
    transition: 150ms;
  }

  &:active {
    background: $accent700;
    color: $light500;
  }

  &:disabled {
    background: $accent900;
    color: $light900;
    cursor: auto;
  }
}

.btnOpacity {
  background: $dark900;
  border: 1px solid $accent500;
  color: $accent500;

  &:hover {
    background: $dark300;
    color: $accent300;
  }

  &:active {
    border: 1px solid $accent700;
    background: $dark300;
    color: $accent700;
  }

  &:disabled {
    background: $dark300;
    color: $accent300;
    cursor: auto;
  }
}

.btnWhite {
  background: $light100;
  color: $dark900;

  &:hover {
    background: $light500;
    color: $dark700;
  }

  &:active {
    background: $light100;
    color: $dark500;
  }

  &:disabled {
    background: $light500;
    color: $dark300;
    cursor: auto;
  }
}

