@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.container {
  width: 726px;
  .contentWrapper {
    @include flex-column;
    row-gap: 30px;
    .currentSubscription {
      display: flex;
      column-gap: 48px;
    }
    .paymentSystems {
      display: flex;
      align-items: center;
      column-gap: 54px;
      align-self: end;
    }
  }
}
