@import "@/common/styles/mixins.scss";
@import "@/common/styles/variables.scss";

.container {
  @include flex-center-column;
  width: 330px;
  row-gap: 35px;
  padding-bottom: 12px;
  .title {
    @include text(20px, 700, 36px)
  }

  .warn {
    display: inline-block;
    @include text(14px, 400, 24px, $light900);
    margin-top: 7px;
  }
}