$accent100: #73a5ff;
$accent300: #4c8dff;
$accent500: #397df6;
$accent700: #2f68cc;
$accent900: #234e99;

$success100: #80ffbf;
$success300: #22e584;
$success500: #14cc70;
$success700: #0f9954;
$success900: #0a6638;

$danger100: #ff8099;
$danger300: #f23d61;
$danger500: #cc1439;
$danger700: #990f2b;
$danger900: #660a1d;

$warning100: #ffd073;
$warning300: #e5ac39;
$warning500: #d99000;
$warning700: #996600;
$warning900: #664400;

$dark100: #4c4c4c;
$dark300: #333333;
$dark500: #171717;
$dark700: #0d0d0d;
$dark900: #000000;

$light100: #ffffff;
$light300: #f7fbff;
$light500: #edf3fa;
$light700: #d5dae0;
$light900: #bdc1c7;
