@import 'common/styles/mixins.scss';
@import 'common/styles/variables.scss';

.container {
	margin-right: 40px;
	margin-top: 48px;
	.photoWrapper {
		position: relative;
		margin-bottom: 30px;
		.closeImg {
			cursor: pointer;
			position: absolute;
			top: 30px;
			left: 167px;
		}
	}
}
