@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.btn {
  @include flex-center;
  border: hidden;
  background-color: $dark700;
  color: $light100;
  cursor: pointer;

  .icon {
    margin-right: 15px;
  }
  .title {
    @include text(14px, 500, 24px, $light100);
    font-family: 'Inter', sans-serif;
  }
}