@import "@/common/styles/variables.scss";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;

  .content {
    background-color: $dark300;
    border: 1px solid $dark100;
    border-radius: 2px;
  }
}