@import "@/common/styles/mixins";
@import "@/common/styles/variables";
.container{
  min-width:700px;
  min-height: 450px;
  .title{
  }
  .wrapper{
  display: flex;
    .photo{
      width: 50%;
      min-height: 100%;
    }
    .form{
      width: 50%;
      min-height: 100%;
      padding: 24px;
      textarea{
        background-color: $dark100;
        border: 1px solid $dark100;
        resize: none;
        border-radius: 2px;
        width: 100%;
      }

    }
  }
}