@import "src/common/styles/mixins";
@import "src/common/styles/variables";

  .title {
  }

  .wrapper {
    display: flex;

    .postInfo {
      width: 491px;
      padding: 24px;
      @include flex-column;
      .profileInfo {
        @include flex-center-vert;
        column-gap: 12px;
      }
      .desc {
        @include flex-column;
        padding-bottom: 19px;
        border-bottom: 1px solid $dark100;
        .textArea {
          margin-top: 24px;
          height: 140px;
        }
        .limit {
          @include text(12px, 400, 16px, $light900);
          align-self: end;
        }
      }
    }
  }
