@import 'common/styles/mixins.scss';
@import 'common/styles/variables.scss';

.hatProfile {
  display: flex;
  margin-bottom: 48px;
  .mainInfo {
    @include flex-column;

    width: 100%;
    margin-left: 38px;
    box-sizing: border-box;

    .userNameAndBtn {
      @include flex-space-between;
      margin-bottom: 20px;
      > h3 {
        @include text(20px, 700, 36px);
      }

      .buttonWrapper {
        min-width: 167px;
      }
    }

    .socialInfo {
      display: flex;
      column-gap: 72px;
      margin-bottom: 23px;
    }

    .description {
      @include text(16px, 400, 24px);
    }
  }
}
