@import 'common/styles/mixins';
@import 'common/styles/variables';

.container {
	margin-right: 24px;

	.photoWrapper {
		position: relative;

		.avatarFromServer {
			width: 192px;
			height: 192px;
			border-radius: 50%;
			margin: 24px;
		}

		.borderDefault {
			@include flex-center;
			background-color: $dark500;
			width: 48px;
			height: 48px;
		}

		.closeImg {
			cursor: pointer;
			position: absolute;
			height: 16px;
			width: 16px;
			top: 56px;
			left: 192px;
		}
	}
}
