@import "@/common/styles/mixins.scss";
@import "@/common/styles/variables.scss";

.container {
  @include flex-center-column;
  height: 100vh;
  .main {
    @include flex-center;
    width: 100%;
    padding: 30px;
  }
}