@import "@/common/styles/mixins";
@import "@/common/styles/variables";

.container {
  @include flex-center-column;
  height: 492px;
  width: 492px;
  border-radius: 2px;

  .wrapper {
    @include flex-center-column;
    width: 222px;
    height: 100%;
    gap: 48px;

    .photo {
      border-radius: 2px;
    }

    .btn {
      width: 100%;
    }
  }
}