@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.button {
  height: 36px;
  border: none;
  border-bottom: 2px solid $dark100;
  background-color: transparent;
  @include text(16px, 600, 24px, $dark100);
  font-family: inherit;
  padding: 0 24px;
  cursor: pointer;
}

.active {
  color: $accent500;
  border-bottom: 2px solid $accent500;
}