@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.header {
  height: 60px;
  background-color: $dark700;
  width: 100%;
  border-bottom: 1px solid $dark300;
  position: fixed;
  @include flex-center-vert;
  justify-content: space-between;
  top: 0;


  .title {
    @include text(26px, 600);
    padding: 60px;
  }

  .loading {
    position: absolute;
    bottom: 0;
  }

  .outButton {
    margin-right: 64px;
  }
}