@import "common/styles/mixins.scss";
@import "common/styles/variables.scss";

.header {
  height: 60px;
  background-color: $dark700;
  width: 100%;
  border-bottom: 1px solid $dark300;
  @include flex-center-vert;
  justify-content: space-between;
  position: relative;
  padding: 0 60px;
  .title {
    @include text(26px, 600);
  }

  .outButton {
    margin-right: 64px;
  }
}