@import "src/common/styles/mixins";
@import "src/common/styles/variables";

.navWrapper {
  min-width: 220px;
  height: calc(100vh - 60px);

  background-color: $dark700;

  .navbar {
    padding-top: 72px;
    padding-left: 63px;

    .link {
      cursor: pointer;
      display: flex;
      margin: 24px 0;

      &:hover {
        color: $accent700
      }

      .icon {
        margin-right: 15px;

        &:hover {
          fill: $accent700;
        }
      }

      .title {
        @include text(14px, 500, 24px, $light100);
        font-family: 'Inter', sans-serif;

        &:focus {
          color: $accent700;
        }
      }
    }

    .outButton {
      position: absolute;
      bottom: 36px;
    }


  }
}