@import "common/styles/mixins";
@import "common/styles/variables";
@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 494px;
  row-gap: 12px;

  .btn {
    align-self: flex-end;
  }

  label {
    color: $dark100;
    font-size: 14px;
    margin-bottom: 24px;
  }

  textarea {
    background-color: $dark300;
    margin-bottom: 24px;
    border: 1px solid $dark300;
    resize: none;
    border-radius: 2px;
  }

  .datepicker {
    margin-bottom: 24px;

    input {
      background-color: $dark300;
      color: white;
      border: none;
    }
  }
}

