@import '@/common/styles/mixins';
@import '@/common/styles/variables';

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  border-bottom: 2px solid $dark100;
}

.wrapper {
  position: relative;
  height: 500px;
  width: 500px;
  background: #333;
}

.buttonChange {
  cursor: pointer;
  display: flex;
  width: 36px;
  height: 36px;
  background: $dark500;
  opacity: 0.8;
  border-radius: 2px;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 152px;
  position: inherit;
  bottom: 100px;
  left: 20px;
  background: $dark500;
  opacity: 0.8;
  border-radius: 2px;
}

.modalMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.btn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: none;
}

.inp {
  display: flex;
  align-items: center;
  width: 135px;
  height: 40px;
  background: $dark500;
  opacity: 0.8;
  border-radius: 2px;
  position: inherit;
  bottom: 100px;
  left: 75px;
}

