@import "@/common/styles/mixins";
@import "@/common/styles/variables";

.container{
 //border:1px solid red;
  .wrapper{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: flex-start;
  }
}