@import 'common/styles/mixins.scss';
@import 'common/styles/variables.scss';
.container {
  margin-top: 16px;
  @include flex-column;
  justify-content: space-between;
  width: 494px;
  row-gap: 12px;

  .btn {
    align-self: flex-end;
    width: 159px;
  }

  label {
    color: $dark100;
    font-size: 14px;
    margin-bottom: 12px;
  }

  textarea {
    background-color: $dark300;
    margin-bottom: 24px;
    border: 1px solid $dark300;
    resize: none;
    border-radius: 2px;
    color: white;
  }

  .calendar {
    .calendarInput {
      margin-bottom: 12px;
      padding: 5px;
      background-color: $dark100;
      color: white;
      border: none;
      width: fit-content;
      border-radius: 2px;
    }
  }
}

